
<suite name="Loan Department" >
    <test name="Personal Loan">
        <classes>
            <class name="TestNGTutorials.test1">
                <!-- Including mechanism to control testcases -->
                <methods>
                    <include name="demo"/>
                </methods>
            </class>
            <class name="TestNGTutorials.test2"/>
        </classes>
    </test>

    <test name="car Loan">
        <classes>
<!-- Excluding mechanism to control testcases -->
            <class name="TestNGTutorials.test3">
                <methods>
                    <exclude name="MobileloginCarLoan"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>